.footer-privacy {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  background-color: #0b0c0d;
  color: #fff;
  margin: 0;
}
.footer-privacy-titles {
  margin-top: 80px;
  width: 99%;
  padding: 20px;
  text-align: start;
}
.footer-privacy-title {
  font-size: 4rem;
  font-weight: bold;
  margin-top: 20px;
  color: white;
  text-shadow: 8px 10px 10px #2b2d33;
}

.footer-privacy-currentpage {
  font-size: 0.9rem;
  font-weight: 400;
  word-spacing: 15px;
  color: hsla(0, 0%, 100%, 0.44);
}
.footer-privacy-currentpage span {
  color: #fff;
  word-spacing: 1px;
}
.footer-privacy-content {
  width: 70%;
  margin: 40px 0;
}
.footer-privacy-content a {
  color: #057ffa;
}
.footer-privacy-content.Referral p {
  font-size: 20px;
  font-weight: 400;
}
.referral-login-btn {
  text-align: center;
  color: hsla(0, 0%, 100%, 0.44);
  font-size: 16px;
  font-weight: 600;
  overflow-wrap: break-word;
  align-self: stretch;
  padding: 12px 16px;
  border-radius: 96px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  color: hsla(0, 0%, 100%, 0.96);
  background-color: #1d6ee3;
  border: none;
  margin-bottom: 20px;
}
.referral-login-btn-text {
  height: 24px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  gap: 4px;
  display: flex;
  word-wrap: break-word;
}
.footer-privacy-content.Releases img {
  width: 90%;
}
.footer-privacy-content.Releases ul li {
  font-weight: 400;
}
.footer-privacy-content.Releases a {
  color: #fff;
}
.footer-privacy-content.Releases a:hover {
  color: #002fff;
}
.Releases-follow {
  display: flex;
  gap: 20px;
}
.Releases-follow a {
  color: #fff;
  font-size: 16px;
}
.Releases-follow a:hover {
  transition: all 0.5 linear;
  color: #0438e1;
}
.footer-privacy-content.Referral h3 {
  font-size: 30px;
}
.releases.other-releases {
  border-top: 2px solid rgba(189, 189, 189, 0.352);
  display: grid;
  gap: 30px;
}
.releases.other-releases div {
  border-bottom: 2px solid rgba(172, 172, 172, 0.319);
}
.releases.other-releases h3 {
  font-size: 25px;
}
p {
  font-size: 17px;
  font-weight: 300;
  line-height: 30px;
  color: #f5f2f0 !important;
}
h3 {
  font-size: 26px;
  color: #f5f2f0;
}
@media screen and (max-width: 700px) {
  .footer-privacy-titles {
    margin: 80px 20px 10px 0px;
  }
  .footer-privacy-content {
    width: 90%;
  }
}
