.footer {
  width: 100%;
}
footer {
  background-color: #222429;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 200px;
}
.footer-logo {
  width: 33%;
  text-align: center;
}
.footer-logo img {
  width: 60%;
}
.references {
  text-align: center;
  width: 33%;
}
.references .licence {
  font-size: 20px;
  font-weight: 400px;
}
.refer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.references .refer a {
  padding: 5px;
  max-width: 250px;
  gap: 10px;
  position: relative;
}
.refer a:hover {
  text-decoration: underline #5b5b5b;
}
.refer a::after {
  content: " |";
  position: absolute;
  padding-left: 4px;
  font-weight: 800;
  color: #6e6e6e;
}
a {
  color: #fff;
  list-style: none;
  text-decoration: none;
}
.social-media {
  text-align: center;
  width: 33%;
}
.social-media a {
  padding: 10px;
}
a i {
  width: 20px;
}
@media screen and (max-width: 500px) {
  .footer-logo {
    width: 100%;
  }
  footer {
    width: 100%;
    gap: 10px;
    display: grid;
    text-align: center;
    justify-items: center;
    height: 100%;
  }
  .references {
    width: 100%;
  }
  .refer {
    display: grid;
    gap: 0;
  }
  .social-media {
    display: flex;
    width: 100%;
    text-align: center;
  }
}
